@if (categorie) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(categorie.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="categorieDeleteDialogHeading" gdilTranslate="entity.delete.title">Confirmation de suppression</h4>
    </div>

    <div class="modal-body">
      <gdil-alert-error></gdil-alert-error>
      <p
        id="gdil-delete-categorie-heading"
        gdilTranslate="microserviceProduitApp.microserviceProduitCategorie.delete.question"
        [translateValues]="{ id: categorie.id }"
      >
        Êtes-vous certain de vouloir supprimer le Categorie {{ categorie.id }} ?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span gdilTranslate="entity.action.cancel">Annuler</span>
      </button>

      <button id="gdil-confirm-delete-categorie" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span gdilTranslate="entity.action.delete">Supprimer</span>
      </button>
    </div>
  </form>
}
